{
  "presets": [
    [
      "babel-preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "preset-typescript"
  ],
  "plugins": [["babel-plugin-transform-runtime"]]
}
